* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background: linear-gradient(45deg, rgba(156, 72, 234, 1) 0%, rgba(143, 31, 229, 1) 37%, rgba(66, 131, 138, 1) 79%, rgba(66, 131, 138, 1) 100%);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* container */

.todo-container {
  background: #fff;
  width: 70%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 21px 22px 57px -5px rgba(110, 214, 75, 1);
  border-radius: 8px;
}

.todo-container > * {
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #aaa;
}

/* title container */
.title-todo {
  display: flex;
  justify-content: space-between;
}

.todo-title {
  color: rgba(156, 72, 234, 1);
  background: linear-gradient(45deg, rgba(156, 72, 234, 1) 0%, rgba(143, 31, 229, 1) 37%, rgba(66, 131, 138, 1) 79%, rgba(66, 131, 138, 1) 100%) left;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* form container */

.form-todo {
  display: flex;
  justify-content: space-between;
}

.form-todo .input-form {
  width: 70%;
  border: none;
  outline: none;
  padding: 3px;
}

/* list container */

.list-container {
  border: none;
  list-style: none;
  padding: 0;
  max-height: 350px;
  overflow: hidden;
  overflow-y: scroll;
}

.list-container > * {
  border-bottom: 1px solid #aaa;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
}

.task-container.completed {
  background: rgba(110, 214, 75, 0.3);
}

.task-container.incorrect {
  background: rgba(214, 75, 96, 0.3);
}

.task-container .input {
  width: 75%;
  border: none;
  outline: none;
  background: transparent;
  border-radius: 8px;
}

.task-container.completed > .input {
  text-decoration: line-through;
}

.task-container .input.active {
  width: 75%;
}

/* clear all container */
.btn-container {
  display: flex;
  justify-content: center;
}

.clear-btn {
  border: none;
  background: inherit;
  font-size: 1.3em;
}

.clear-btn:focus,
.clear-btn:active {
  animation: btn-animation 0.3s;
}

@keyframes btn-animation {
  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

@media screen and (min-width: 768px) {
  .todo-container {
    width: 45%;
  }
}
